[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
logzero = ">=1.7.0,<2.0"
attrs = "<24.0,>=22.1.0"
cattrs = "<24.0,>=22.2.0"
click = ">=8.1.3,<9.0"
toml = "<0.11,>=0.10.2"
tqdm = ">=4.0"

[dev-packages]

[requires]
python_version = "3.10"
